<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
      laboriosam.
    </p>
  </header>
</section>

new block

<section class="block">
  <div class="block__header">
    <h2 class="block__heading">Hy! Am Michael Okello</h2>
    <p>
      Product designer and digital crative director working in design field for
      7 years so far, specialize user interface design.
    </p>
    <button class="btn btn--accent">Hire Me</button>
    <button class="btn btn--primary">Know More</button>
    <div class="sec_one">
      <img
        style="display: inline"
        class="icon"
        src="./images/icons8-react-native-50.png"
        alt="react"
      />
      <p>Product Designer and Devloper specialized in UI/UX.</p>
    </div>
  </div>
</section>
