<section class="block hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Hy!I Am Michael Okello</h1>
      <p class="hero__tagline">
        Product designer and digital crative director working in design field
        for 7 years so far, specialize user interface design.
      </p>
      <div class="hero-button">
        <a href="" class="btn btn--accent btn--stretched">Hire Me</a>
      </div>
      <div class="hero-button">
        <a href="" class="btn btn--accent btn--stretched">Know More</a>
      </div>
      <div class="block react-icon">
        <div class="icon-container">
          <img
            class="icon"
            src="./images/icons8-react-native-50.png"
            alt="react"
          />
        </div>
        <div>
          <p>
            Product Designer and Developer
            <br />
            specialized in UI/UX.
          </p>
        </div>
      </div>
    </header>

    <div class="block--skewed-right">
      <picture>
        <source
          type="image/webp"
          srcset="
            images/tuxedo-removebg-preview.webp 1x,
            images/tuxedo@2x.webp               2x
          "
        />
        <source
          type="image/png"
          srcset="
            images/tuxedo-removebg-preview.png 1x,
            images/tuxedo@2x.png               2x
          "
        />
        <img
          class="hero__image"
          src="images/tuxedo-removebg-preview.png"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
